* {
    box-sizing: border-box;
    margin: 0px;
    
}

body {
    background-color: #E29578;
}

.master {
    position: relative;
    top:25px;
    left:25px;
    width: 1000px;
    height: auto;
    min-height: 800px;
    border:2px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:10px;
    padding: 15px;
    background-color: #006D77;
    box-shadow: 3px 3px 3px rgb(44, 44, 44);

}

.left-container, .right-container {
    border: 2px solid black;
    box-shadow: 3px 3px 3px rgb(44, 44, 44);
}

.left-container {
    background-color: #EDF6F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
}

.meme-generator {
    height: 60%;
    width: 100%;
    border: 2px solid black;
    background-color: #ffddd2;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.meme {

    position: relative;
    height: 375px;
}

.meme > img {
    width: 375px;
    height: 375px;
    border:2px solid black;
    border-radius: 5px;
    background-color: black;
}

h2 {
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 45px;
}

h3 {
    color:white;
    -webkit-text-stroke: .5px black;
    font-size: 20px;

}

.top {
    position:relative;
    left: 5px;
    top: -380px; 
}

.bottom {
    position:relative;
    left: 5px;
    top: -120px; 
}

.meme-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.right-container {
    background-color: #83C5BE ;
    height: 800px;
    padding: 0px 15px;
    overflow-y: auto;
}

.meme-widgets {
    height: 250px;
    width: 100%;
    border: 2px solid black;
    margin: 15px 0px;
    background-color: #ffddd2 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.saved-meme-widget {
    height:175px;
}

.widget-image {
    height:175px;
    width: 175px;
    border: 2px solid black;
}

.saved-meme-toptext {
    position:relative;
    left: 5px;
    top: -175px; 
}

.saved-meme-bottomtext {
    position:relative;
    left: 5px;
    top: -55px; 
}

.widget-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 5px;
}

button {
    width: 120px;
    height:25px;
}